<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>jQuery PowerTip</title>
	<meta name="description" content="{{ page.description }}" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/pygments.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.powertip.css" />
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-327' + '5918-9']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1>PowerTip</h1>
			<p>A jQuery plugin that creates hover tooltips.</p>
			<ul>
				<li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=stevenbenner&repo=jquery-powertip&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></li>
				<li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=stevenbenner&repo=jquery-powertip&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe></li>
				<li><iframe class="twitter-share-button" allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?text=jQuery%20PowerTip%20-%20Sleek%20modern%20tooltips%20for%20jQuery&url=http%3A%2F%2Fstevenbenner.github.com%2Fjquery-powertip%2F&hashtags=jquery%2Cjavascript&via=stevenbenner" style="width:100px; height:20px;"></iframe></li>
			</ul>
		</div>
		<div id="content">
			{{ content }}
		</div>
		<div id="footer">
			<p>Built by <a href="http://stevenbenner.com/" title="Check out my blog">Steven Benner</a>. Released under the <a href="https://raw.github.com/stevenbenner/jquery-powertip/master/LICENSE.txt" title="This license lets you do anything you want with the code">MIT license</a>. Fork this project from the <a href="https://github.com/stevenbenner/jquery-powertip" title="Contributors wanted">GitHub repository</a>.</p>
		</div>
	</div>
	<a href="https://github.com/stevenbenner/jquery-powertip" id="github-link"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.powertip.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
